@import '../../assets/sass/';
#About {
	@include absoluteFullscreen;
	.content {
		--margin: 4rem;
		// --margin: 0rem;
		position: absolute;
		top: calc(var(--margin) * 2);
		left: var(--margin);
		width: calc(100vw - (var(--margin) * 2));
		height: 50vh;
		background-size: cover;
		background-position: center;
		header {
			position: absolute;
			top: calc(100% - 2rem);
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			@include flexCenterCol;
			h1 {
				width: min-content;
				margin: 0 auto;
				white-space: nowrap;
				font-family: $serif;
				font-size: $fs-md;
				padding: 0 2rem;
				background-color: var(--main-color);
				color: var(--secondary-color);
			}
			p {
				&::before {
					content: '//';
					display: block;
					margin: $fs-xs 0;
					font-family: $sans;
					font-size: $fs-sm;
					font-weight: 700;
					text-align: center;
				}
				font-family: $sans;
				font-size: $fs-xs;
				letter-spacing: 2px;
				line-height: 1.5;
				font-weight: 300;
				text-align: center;
			}
			button {
				@include button;
				margin: 2rem 0;
				font-family: $serif;
			}
		}
	}
}
