@import '../../assets/sass/';
#About {
	height: var(--trueHeight);
	#landing {
		@include flexCenterCol;
		justify-content: flex-start;
		padding: 0 10%;
		height: 100%;
		min-height: inherit;
		position: relative; //for scrollCTA to anchor
		@include breakpoint(md) {
			display: grid;
			grid-template-columns: 3fr 4fr;
			padding: 0 2.5%;
		}
		.img {
			margin-top: 8rem;
			width: calc(100vw - 20vw); //10vw padding from each side
			height: 45vh;
			object-fit: cover;
			transition: 350ms ease;
			&.subpathOpen {
				margin-top: 0rem;
				width: 100vw;
				height: calc(45vh + 8rem);
			}
			@include breakpoint(md) {
				grid-column: 2/3;
				height: 100%;
				margin-top: unset;
				width: calc(100% - 5vh);
				height: calc(100% - 20vh);
				&.subpathOpen {
					width: 100%;
					height: 100%;
				}
			}
		}
		header {
			@include flexCenterCol;
			position: relative;
			top: -2rem;
			height: 35vh;
			justify-content: space-between;
			@include breakpoint(md) {
				grid-column: 1/2;
				grid-row: 1/2;
				top: unset;
				justify-content: center;
				align-items: flex-start;
				left: 5vh;
				width: 125%;
				position: absolute;
				> * + * {
					margin: 2rem 0 0 0 !important;
				}
			}
			h1 {
				width: min-content;
				margin: 0 auto;
				white-space: nowrap;
				font-family: $serif;
				font-size: $fs-lg;
				padding: 0 2rem;
				background-color: var(--main-color);
				color: var(--secondary-color);
				@include breakpoint(md) {
					font-size: $fs-xxl;
					margin: unset;
					letter-spacing: 0.5rem;
				}
			}
			h2 {
				font-family: $sans;
				font-size: $fs-sm;
				letter-spacing: 0.1rem;
				line-height: 1.4;
				font-weight: 300;
				text-align: center;
				margin: 2vh 0;
				@include breakpoint(md) {
					display: inline-block;
					text-align: left;
					font-size: $fs-md;
					font-weight: 200;
				}
				&::before {
					content: '//';
					display: block;
					font-family: $sans;
					font-size: $fs-md;
					font-weight: 700;
					text-align: center;
					@include breakpoint(md) {
						display: inline-block;
						margin-right: 0.5rem;
					}
				}
			}
			.ctaContainer {
				button {
					@include button;
					display: block;
					@include breakpoint(md) {
						font-size: $fs-sm;
					}
					span {
						font-family: $serif;
					}
				}
			}
		}
		.scrollCTA {
			@include flexCenterCol;
			position: absolute;
			bottom: 0;
			left: 1.5rem;
			p {
				font-weight: 400;
				letter-spacing: 0.2rem;
				font-size: $fs-xs;
				writing-mode: vertical-lr;
				transform: rotate(180deg) translateX($fs-xs/10);
				margin-bottom: 0.5rem;
				position: relative;
			}
			div {
				width: 0.2rem;
				height: 5vh;
				background-color: var(--main-color);
				position: relative;
				&::after {
					content: '';
					width: 0.15rem;
					height: 5vh;
					background-color: var(--main-color);
					display: block;
					position: absolute;
					top: calc(100% - 0.1rem);
					transform-origin: top;
					transform: translateX(0.0625rem) rotate(45deg);
				}
			}
		}
	}
}
