@font-face {
	font-family: "Aktiv Grotesk W01";
	src: url("./aktiv_grotesk/Aktiv-Grotesk-W01-Hairline-It.eot");
	src: local("Aktiv-Grotesk-W01-Hairline-It"),
		local("Aktiv-Grotesk-W01-Hairline-It"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Hairline-It.eot?#iefix")
			format("embedded-opentype"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Hairline-It.woff2")
			format("woff2"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Hairline-It.woff") format("woff"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Hairline-It.ttf")
			format("truetype");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Aktiv Grotesk W01";
	src: url("./aktiv_grotesk/Aktiv-Grotesk-W01-Light.eot");
	src: local("Aktiv-Grotesk-W01-Light"), local("Aktiv-Grotesk-W01-Light"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Light.eot?#iefix")
			format("embedded-opentype"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Light.woff2") format("woff2"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Light.woff") format("woff"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Aktiv Grotesk W01";
	src: url("./aktiv_grotesk/Aktiv-Grotesk-W01-Black-Italic.eot");
	src: local("Aktiv-Grotesk-W01-Black-Italic"),
		local("Aktiv-Grotesk-W01-Black-Italic"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Black-Italic.eot?#iefix")
			format("embedded-opentype"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Black-Italic.woff2")
			format("woff2"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Black-Italic.woff")
			format("woff"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Black-Italic.ttf")
			format("truetype");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Aktiv Grotesk W01";
	src: url("./aktiv_grotesk/Aktiv-Grotesk-W01-Thin-Italic.eot");
	src: local("Aktiv-Grotesk-W01-Thin-Italic"),
		local("Aktiv-Grotesk-W01-Thin-Italic"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Thin-Italic.eot?#iefix")
			format("embedded-opentype"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Thin-Italic.woff2")
			format("woff2"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Thin-Italic.woff") format("woff"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Thin-Italic.ttf")
			format("truetype");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Aktiv Grotesk W01";
	src: url("./aktiv_grotesk/Aktiv-Grotesk-W01-Medium.eot");
	src: local("Aktiv-Grotesk-W01-Medium"), local("Aktiv-Grotesk-W01-Medium"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Medium.eot?#iefix")
			format("embedded-opentype"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Medium.woff2") format("woff2"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Medium.woff") format("woff"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Aktiv Grotesk W01";
	src: url("./aktiv_grotesk/Aktiv-Grotesk-W01-Italic.eot");
	src: local("Aktiv-Grotesk-W01-Italic"), local("Aktiv-Grotesk-W01-Italic"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Italic.eot?#iefix")
			format("embedded-opentype"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Italic.woff2") format("woff2"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Italic.woff") format("woff"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Aktiv Grotesk W01";
	src: url("./aktiv_grotesk/Aktiv-Grotesk-W01-Black.eot");
	src: local("Aktiv-Grotesk-W01-Black"), local("Aktiv-Grotesk-W01-Black"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Black.eot?#iefix")
			format("embedded-opentype"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Black.woff2") format("woff2"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Black.woff") format("woff"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Aktiv Grotesk W01";
	src: url("./aktiv_grotesk/Aktiv-Grotesk-W01-Bold.eot");
	src: local("Aktiv-Grotesk-W01-Bold"), local("Aktiv-Grotesk-W01-Bold"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Bold.woff2") format("woff2"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Bold.woff") format("woff"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Aktiv Grotesk W01";
	src: url("./aktiv_grotesk/Aktiv-Grotesk-W01-Thin.eot");
	src: local("Aktiv-Grotesk-W01-Thin"), local("Aktiv-Grotesk-W01-Thin"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Thin.eot?#iefix")
			format("embedded-opentype"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Thin.woff2") format("woff2"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Thin.woff") format("woff"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Thin.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Aktiv Grotesk W01";
	src: url("./aktiv_grotesk/Aktiv-Grotesk-W01-Light-Italic.eot");
	src: local("Aktiv-Grotesk-W01-Light-Italic"),
		local("Aktiv-Grotesk-W01-Light-Italic"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Light-Italic.eot?#iefix")
			format("embedded-opentype"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Light-Italic.woff2")
			format("woff2"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Light-Italic.woff")
			format("woff"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Light-Italic.ttf")
			format("truetype");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Aktiv Grotesk W01";
	src: url("./aktiv_grotesk/Aktiv-Grotesk-W01-Regular.eot");
	src: local("Aktiv-Grotesk-W01-Regular"), local("Aktiv-Grotesk-W01-Regular"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Regular.woff2") format("woff2"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Regular.woff") format("woff"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Aktiv Grotesk W01";
	src: url("./aktiv_grotesk/Aktiv-Grotesk-W01-Medium-Italic.eot");
	src: local("Aktiv-Grotesk-W01-Medium-Italic"),
		local("Aktiv-Grotesk-W01-Medium-Italic"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Medium-Italic.eot?#iefix")
			format("embedded-opentype"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Medium-Italic.woff2")
			format("woff2"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Medium-Italic.woff")
			format("woff"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Medium-Italic.ttf")
			format("truetype");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Aktiv Grotesk W01";
	src: url("./aktiv_grotesk/Aktiv-Grotesk-W01-Hairline.eot");
	src: local("Aktiv-Grotesk-W01-Hairline"),
		local("Aktiv-Grotesk-W01-Hairline"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Hairline.eot?#iefix")
			format("embedded-opentype"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Hairline.woff2") format("woff2"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Hairline.woff") format("woff"),
		url("./aktiv_grotesk/Aktiv-Grotesk-W01-Hairline.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
