//FONTS//
$serif: 'Ivy Mode', serif;
$sans: 'Aktiv Grotesk W01', sans-serif;

//FONT-SCALE
$fs-scale: 1.414;
$fs-base: 1.6rem;

$fs-xxs: $fs-base/ $fs-scale / $fs-scale;
$fs-xs: $fs-base / $fs-scale;
$fs-sm: $fs-base;
$fs-md: $fs-sm * $fs-scale;
$fs-lg: $fs-md * $fs-scale;
$fs-xl: $fs-lg * $fs-scale;
$fs-xxl: $fs-xl * $fs-scale;
$fs-xxxl: $fs-xxl * $fs-scale;
$fs-xxxxl: $fs-xxxl * $fs-scale;
//-----//

//Shadows
$text-shadow-sm: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
$text-shadow-lg: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);

//CSS Variables//
:root {
	--main-color: black;
	--main-color-flat: #2f2f2f;
	--main-color-fade: rgba(0, 0, 0, 0.75);
	--secondary-color: #f8f8f3;
	--highlight-color: #ff4d5a;
}
