//FONTS//
$serif: 'Ivy Mode', serif;
$sans: 'Aktiv Grotesk W01', sans-serif;

//FONT-SCALE - 1.618 Golden Ratio/Base 10px/Adjusted 110%//
$fs-xxs: 0.66rem;
$fs-xs: 1.1rem;
$fs-sm: 1.75rem;
$fs-md: 2.826rem;
$fs-lg: 4.62rem;
$fs-xl: 7.535rem;
$fs-xxl: 12.1rem;
$fs-xxxl: 19.7rem;
//-----//
