@import '../../../assets/sass';

.contactForm {
	margin-top: 5vh;
	padding: 0 5% 7.5vh;
	h1 {
		font-size: $fs-lg;
		font-family: $serif;
		max-width: 10ch;
		text-align: center;
		margin: 0 auto;
		line-height: 1;
	}
	form {
		@include flexCenterCol;
		margin-top: 5vh;
		fieldset {
			width: 100%;
			border: none;
			padding: 0;
			legend {
				display: none;
			}
			label {
				display: block;
				font-size: $fs-xs;
				font-weight: 600;
				margin-bottom: 0.5rem;
				text-transform: capitalize;
				&[data-invalid='true'] {
					transition: 350ms ease;
					color: var(--highlight-color);
				}
			}
			input,
			textarea {
				width: 100%;
				background-color: rgba(255, 255, 255, 0.15);
				border: 0.15rem solid var(--main-color);
				padding: 0.5rem;
				font-size: $fs-xs;
				&:active,
				&:focus {
					outline: none;
					transition: 200ms ease;
				}
				&[data-invalid='true'] {
					transition: 350ms ease;
					border-color: var(--highlight-color);
					color: var(--highlight-color);
				}
			}
			input {
				border: none;
				border-bottom: 0.15rem solid var(--main-color);
			}
			textarea {
				height: 20rem;
				resize: none;
			}
		}
		button {
			@include button;
			display: inline-block;
			width: 10ch;
		}
		> * + * {
			margin-top: 1.5rem;
		}
	}
}
