#1 {
	.bannerContainer {
		border: 1rem solid black;
		border-left: none;
		border-right: none;
		height: 100vh;
		width: 100vw;
		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}
