@import '../../../assets/sass/';
.ctaContainer {
	position: relative;
	transition: 350ms ease;
	svg {
		z-index: -1;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		stroke-dashoffset: 150;
		animation: lines 5s infinite ease-out;
		stroke-dasharray: 150 2400;
		@keyframes lines {
			100% {
				stroke-dashoffset: -2400;
			}
		}
	}
	button {
		@include button;
		display: block;
		&:hover {
			transform: none;
		}
	}
	&:hover {
		transform: translateY(-0.4rem);
	}
}
