@import '../../assets/sass/';

.landing {
	@include flexCenterCol;
	justify-content: flex-start;
	padding: 0 10%;
	height: 100%;
	position: relative; //for scrollCTA to anchor
	@include breakpoint(md) {
		@include landscape {
			display: grid;
			grid-template-columns: 3fr 4fr;
			padding: 0;
		}
	}
	--margin-top: 5.5rem;
	.imgContainer {
		position: relative;
		margin-top: var(--margin-top);
		width: calc(100vw - 20vw); //10vw padding from each side
		height: 45vh;
		box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
		transition: 350ms ease;
		overflow: hidden;
		&[data-no-box-shadow='true'] {
			box-shadow: unset;
		}
		img {
			width: 100%;
			max-height: 100vh;
			height: 100%;
			position: relative;
			object-fit: cover;
		}
		.bar {
			position: absolute;
			height: 100%;
			width: 20%;
			background-color: var(--secondary-color);
			top: -0.1rem;
			right: 100%;
			transform-origin: left;
			&::after {
				content: '';
				height: inherit;
				width: 100vw;
				background-color: #2c2c2c;
				position: absolute;
				left: 100%;
			}
			&[data-img-white='true'] {
				background-color: #2c2c2c;
				&::after {
					background-color: #e1e1e1;
				}
			}
		}
		&.subpathOpen {
			margin-top: 0rem;
			width: 100vw;
			height: calc(45vh + var(--margin-top));
		}
		@include breakpoint(md) {
			@include landscape {
				grid-column: 2/3;
				height: 100%;
				margin-top: 0rem;
				width: calc(100% - 10vh);
				height: calc(100vh - 20vh);
				&.subpathOpen {
					width: calc(100%);
					height: 100vh;
				}
			}
		}
		@include breakpoint(lg) {
			@include landscape {
				// overflow: unset;
				.bracket {
					position: absolute;
					z-index: 2;
					height: 7.5rem;
					width: 7.5rem;
					transition: 350ms ease;
					opacity: 0.75;
					&#top {
						border-top: 0.5rem solid var(--main-color);
						border-left: 0.5rem solid var(--main-color);
						left: -2rem;
						top: -2rem;
					}
					&#bottom {
						border-bottom: 0.5rem solid var(--main-color);
						border-left: 0.5rem solid var(--main-color);
						left: -2rem;
						bottom: -2rem;
					}
				}
				&.subpathOpen .bracket {
					opacity: 0 !important;
					transition-delay: 0;
					&#top {
						top: 0;
						left: 0;
					}
					&#bottom {
						left: 0;
						bottom: 0;
					}
				}
			}
			@include breakpoint(xl) {
				width: calc(100% - 15vh);
				height: calc(100vh - 30vh);
			}
		}
	}
	header {
		@include flexCenterCol;
		position: relative;
		top: -2rem;
		height: calc(65vh - var(--margin-top));
		height: 65vh;
		max-height: 31rem;
		justify-content: space-between;
		overflow: hidden;
		padding-bottom: 1rem;
		@include breakpoint(md) {
			@include landscape {
				grid-column: 1/2;
				grid-row: 1/2;
				top: unset;
				justify-content: center;
				align-items: flex-start;
				position: absolute;
				margin: 1rem 2.5vw 1rem 5vw;
				padding-left: 1rem;
				max-height: unset;
				height: 100%;
				> * + * {
					margin: 2rem 0 0 0 !important;
				}
			}
		}
		@include breakpoint(lg) {
			> * + * {
				margin: 4rem 0 0 0 !important;
			}
		}
		h1 {
			width: min-content;
			margin: 0 auto;
			white-space: nowrap;
			font-family: $serif;
			font-size: $fs-lg;
			padding: 0 2rem;
			background-color: var(--main-color);
			color: var(--secondary-color);
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
			transition: font-size 350ms ease;
			@include breakpoint(md) {
				font-size: $fs-xl;
				margin: unset;
				// letter-spacing: 0.5rem;
			}
			@include breakpoint(xl) {
				font-size: $fs-xxl;
			}
		}
		h2 {
			font-family: $sans;
			font-size: $fs-sm;
			letter-spacing: 0.1rem;
			font-weight: 300;
			text-align: center;
			margin: 3vh 0;
			line-height: 1.4;
			text-shadow: $text-shadow-sm;
			@include breakpoint(sm) {
				line-height: 1.75;
			}
			@include breakpoint(md) {
				display: inline-block;
				text-align: left;
			}
			@include breakpoint(xl) {
				font-size: $fs-sm;
			}
			@include breakpoint(xxl) {
				font-size: $fs-md;
			}
			&::before {
				content: '//';
				display: block;
				font-family: $sans;
				font-size: $fs-md;
				font-weight: 700;
				text-align: center;

				@include breakpoint(md) {
					line-height: 0;
					display: inline-block;
					margin-right: 0.5rem;
				}
			}
			strong {
				all: unset;
				font-weight: 600;
				cursor: pointer;
				text-decoration: underline;
				position: relative;
				&:hover {
					div {
						transition: 250ms ease;
						transform: translateX(-50%) scale(1);
						opacity: 1;
						z-index: 1;
					}
				}
				div {
					all: unset;
					position: absolute;
					font-size: $fs-xs;
					bottom: calc(100% + 0.75rem);
					left: 50%;
					white-space: nowrap;
					color: var(--secondary-color);
					background-color: var(--main-color);
					padding: 0.125rem 0.75rem;
					transform-origin: bottom;
					transform: translateX(-50%) scale(0.35);
					z-index: -1;
					opacity: 0;
					&::after {
						content: '';
						transition: inherit;
						position: absolute;
						top: 100%;
						left: 50%;
						transform: translateX(-50%);
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0.65rem 0.5rem 0 0.5rem;
						border-color: var(--main-color) transparent transparent transparent;
					}
					&[data-input-copied='true'] {
						background-color: var(--highlight-color);
						&::after {
							border-color: var(--highlight-color) transparent transparent transparent;
						}
					}
				}
			}
			input.hidden {
				all: unset;
				width: 0;
			}
		}
	}
	.scrollCTA {
		@include flexCenterCol;
		position: absolute;
		bottom: 0;
		left: 1.5rem;
		@include breakpoint(lg) {
			left: 3rem;
		}
		p {
			font-weight: 400;
			letter-spacing: 0.2rem;
			font-size: $fs-xs;
			writing-mode: vertical-lr;
			transform: rotate(180deg) translateX($fs-xs/10);
			margin-bottom: 0.5rem;
			position: relative;
			@include breakpoint(xl) {
				font-size: $fs-sm;
			}
		}
		.line {
			width: 0.2rem;
			height: 5vh;
			background-color: var(--main-color);
			position: relative;
			@include breakpoint(md) {
				height: 10vh;
			}
			&::after {
				content: '';
				width: 0.15rem;
				height: 10vh;
				background-color: var(--main-color);
				display: block;
				position: absolute;
				top: calc(100% - 0.1rem);
				transform-origin: top;
				transform: translateX(0.0625rem) rotate(45deg);
			}
		}
	}
}
