@import '../../../assets/sass/';

.project {
	.info {
		display: grid;
		gap: 2.5rem;
		@include breakpoint(lg) {
			grid-template-columns: 5fr 4fr;
			column-gap: 5rem;
			margin-bottom: 2.5vh;
		}
		.group {
			> .label {
				font-size: $fs-sm;
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: 0.2rem;
				text-shadow: $text-shadow-sm;
				margin-bottom: 0.75rem;
				@include breakpoint(lg) {
					font-size: $fs-md;
				}
				&::before {
					content: '//';
					margin-right: 0.5ch;
				}
			}
			.text {
				opacity: 0.55;
				font-size: $fs-xs;
				max-width: 75ch;
				line-height: 1.75;
				@include breakpoint(lg) {
					line-height: 1.4;
					font-size: $fs-sm;
					max-width: unset;
				}
			}
			.icons {
				display: flex;
				flex-wrap: wrap;
				.tech {
					width: 7.5%;
					max-width: 4rem;
					position: relative;
					margin-right: 1rem;
					margin-top: 0.5rem;
					img {
						width: 100%;
					}
					.label {
						opacity: 0;
						position: absolute;
						bottom: calc(100% + 1rem);
						left: 50%;
						transform: translateX(-50%);
						white-space: nowrap;
						font-size: $fs-xs;
						background-color: var(--main-color);
						color: var(--secondary-color);
						padding: 0.25rem 0.5rem;
						&::after {
							content: '';
							position: absolute;
							top: 100%;
							left: 50%;
							transform: translateX(-50%);
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0.5rem 0.5rem 0 0.5rem;
							border-color: var(--main-color) transparent transparent transparent;
						}
					}
					&:hover {
						.label {
							transition: 250ms ease;
							opacity: 1;
						}
					}
				}
			}
			&:is(#tech, #notes) {
				.text {
					@include breakpoint(lg) {
						max-width: 50ch;
					}
				}
			}
			&:is(#challenges, #notes) {
				display: none;
				@include breakpoint(lg) {
					display: block;
				}
			}
			&:is(#challenges) {
				@include breakpoint(lg) {
					grid-column: 1/2;
					grid-row: 2/3;
				}
			}
		}
	}
	.imgContainer {
		position: relative;
		img {
			width: 100%;
			height: 100%;
			margin: 5vh 0;
		}
		.mockupImg {
			position: absolute;
			top: 0;
			left: 0;
			height: unset;
			box-shadow: 0 2.5rem 5rem -5rem rgba(0, 0, 0, 0.5);
		}
		.links {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			position: relative;
			@include breakpoint(lg) {
				align-items: center;
				position: absolute;
				top: 25%;
				left: 3.5%;
				&::before,
				&::after {
					z-index: -1;
					content: '';
					display: block;
					position: absolute;
					--width: 1vw;
					--gap: 2rem;
					--borderWidth: 0.2rem;
					opacity: 0.75;
				}
				//SQUARE
				&::before {
					border: var(--borderWidth) solid var(--main-color);
					border-left: none;
					height: 60%;
					width: var(--width);
					left: calc(100% + var(--gap));
					top: 50%;
					transform: translate(0, -50%);
				}
				//LINE
				&::after {
					height: var(--borderWidth);
					width: 9vw;
					background-color: var(--main-color);
					left: calc(100% + var(--gap) + var(--width) + calc(var(--borderWidth) / 2));
					top: 50%;
					transform: translateY(-50%);
				}
			}
			@include breakpoint(xl) {
				left: 7%;
			}
			&[data-live-disabled='true'] {
				top: 35%;
				a {
					color: var(--highlight-color);
				}
				&::before {
					display: none;
				}
				&::after {
					left: calc(110%);
					top: calc(50% + var(--borderWidth) + 0.05rem);
				}
			}
			> * + * {
				margin-top: 0.5rem;
			}
			> * {
				cursor: pointer;
				&::before {
					content: '▪';
					font-size: $fs-xs;
					margin-right: 0.5ch;
					@include breakpoint(lg) {
						content: unset;
					}
				}
				span {
					font-size: $fs-sm;
					font-weight: 500;
					text-decoration: underline;
					transition: 200ms ease;
					&:hover {
						color: var(--highlight-color);
					}
					@include breakpoint(lg) {
						text-shadow: $text-shadow-sm;
						letter-spacing: -0.1rem;
						font-size: $fs-md;
					}
				}
				&.live {
					color: var(--highlight-color);
					&::before {
						color: inherit;
					}
				}
			}
		}
	}
}
