@import './assets/sass/';

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100%;
	touch-action: pan-down;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	height: 100%;
	overscroll-behavior-y: contain;
}

#root {
	height: 100%;
}

p,
li,
a,
span,
div {
	font-family: $sans;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
ol {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

button {
	background-color: unset;
	outline: none;
	border: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: unset;
}

p {
	line-height: 1.4;
	letter-spacing: 0.1rem;
}
