@import '../../../assets/sass/';
.HBM {
	@include absoluteFullscreen;
	position: fixed;
	z-index: 5;
	.background {
		@include absoluteFullscreen;
		position: fixed;
		z-index: 10;
		background-color: #f8f8f3;
		//Seperate Texture Styles
		&::before {
			content: '';
			@include absoluteFullscreen;
			background-image: url('../../../assets/imgs/textures/axiom-pattern.png');
			opacity: 0.65;
		}
	}
	ul {
		position: relative;
		z-index: 11;
		width: 100%;
		height: 100%;
		@include flexCenterCol;
		li.link {
			cursor: pointer;
			overflow: hidden;
			line-height: 1.5;
			text-shadow: $text-shadow-sm;
			&#active {
				pointer-events: none;
				span {
					opacity: 0.5 !important;
				}
			}
			span {
				display: block;
				font-family: $serif;
				font-size: clamp($fs-md, 8vw, $fs-xl);
				position: relative;
				transition: 350ms ease;
				.underline {
					position: absolute;
					display: block;
					width: 50%;
					height: clamp($fs-md/4, 2vw, $fs-xl/4);
					background-color: var(--main-color);
					opacity: 0.5;
					top: 65%;
					transition: 350ms ease;
				}
				&:hover {
					.underline {
						opacity: 0.25;
						width: 100%;
					}
				}
			}
		}
	}
}
