@import '../../../assets/sass/';
.NavMarker {
	position: fixed;
	bottom: 0.5rem;
	left: 1rem;
	@include breakpoint(md) {
		bottom: unset;
		top: 50%;
		// left: 3rem;
		transform: translateY(-50%);
	}
	div {
		height: 0.75rem;
		width: 0.75rem;
		border-radius: 50%;
		margin-bottom: 0.5rem;
		background-color: var(--main-color);
		border: 0.1rem solid var(--main-color);
		transition: 150ms ease 150ms;
		&.active {
			--scale: 1.75;
			transform: scale(var(--scale));
			background-color: transparent;
			margin: calc(0.5rem * var(--scale)) 0;
		}
	}
}
