@import '../../../assets/sass/';
.pageNumber {
	position: absolute;
	opacity: 0.15;
	font-size: $fs-xxxl !important;
	bottom: 0;
	left: 0;
	letter-spacing: -0.5rem;
}

.NavMarker {
	position: fixed;
	z-index: 10;
	bottom: 0.5rem;
	left: 1rem;
	@include flexCenterCol;
	@include breakpoint(md) {
		bottom: unset;
		top: 50%;
		transform: translateY(-50%);
	}
	.marker {
		--size: 1.125rem;
		cursor: pointer;
		height: var(--size);
		width: var(--size);
		border-radius: 50%;
		margin-bottom: 0.5rem;
		background-color: var(--main-color);
		border: 0.2rem solid var(--main-color);
		position: relative;
		transition: 150ms ease 150ms;
		a {
			display: block;
			height: 100%;
			width: 100%;
		}
		&.active {
			background-color: transparent;
			// height: calc(var(--size) * 1.5);
			// width: calc(var(--size) * 1.5);
		}
		@include breakpoint(xl) {
			--size: 1rem;
		}
		p {
			position: absolute;
			font-size: $fs-xs;
			padding: 0.25rem 0.5rem;
			background-color: var(--main-color);
			color: var(--secondary-color);
			white-space: nowrap;
			top: 50%;
			left: 250%;
			transform: translateY(-50%) scaleX(0);
			transform-origin: left;
			opacity: 0;
			&::before {
				content: '';
				position: absolute;
				right: 100%;
				top: 50%;
				transform: translate(100%, -50%);
				z-index: -1;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 10px 5px 0;
				border-color: transparent var(--main-color) transparent transparent;
			}
		}
		@include onHoverFine {
			p {
				opacity: 1;
				transform: translateY(-50%) scaleX(1);
				transition: 200ms ease-out;
				&::before {
					transform: translate(0, -50%);
					transition: 200ms ease-out 100ms;
				}
			}
		}
	}
}
