@import '../../../assets/sass/';
.job {
	margin-top: 10vh;
	@include breakpoint(lg) {
		margin-top: 7.5vh;
		//Margin-left offsets the absolutely-positioned bracket divider
		margin-left: 1.5rem;
	}
	@include breakpoint(lg) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 3.5%;
	}
	@include breakpoint(xl) {
		column-gap: 5%;
	}
	.basicInfo {
		img {
			--size: 6.5rem;
			height: var(--size);
			width: var(--size);
			display: inline-block;
			margin-bottom: 0.5rem;
			@include breakpoint(xl) {
				--size: 7rem;
			}
		}
		.label {
			display: inline-block;
			margin-left: 1.5rem;
			.timeframe {
				display: inline-block;
				font-size: $fs-xs;
				font-weight: 500;
				&::after {
					content: '|';
					margin: 0 0.5ch;
					font-size: $fs-sm;
					line-height: 1;
				}
			}
			.employer {
				font-family: $serif;
				font-weight: 700;
				line-height: 1.1;
				font-size: $fs-md;
				@include breakpoint(xl) {
					font-size: $fs-lg;
				}
			}
			.title {
				font-family: $serif;
				font-weight: 500;
				letter-spacing: 0.1rem;
				font-size: $fs-md;
			}
			.location {
				display: inline-block;
				font-size: $fs-xs;
				font-style: italic;
				opacity: 0.5;
			}
		}
		.copy {
			margin: 2.5vh 0;
			font-size: $fs-sm;
			line-height: 1.4;
			font-weight: 400;
			max-width: 65ch;
		}
	}
	.infoList {
		list-style-type: square;
		list-style-position: inside;
		@include breakpoint(lg) {
			border-left: 0.2rem solid var(--main-color);
			padding: 0.5rem 0 0.5rem 2rem;
			align-self: center;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				right: 100%;
				transform: translateY(-50%);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0.2rem 2.5rem 0.2rem 0;
				border-color: transparent #000000 transparent transparent;
			}
		}
		.info {
			+ .info {
				margin-top: 1rem;
			}
			font-size: $fs-sm;
			line-height: 1.25;
			letter-spacing: 0.1rem;
			font-weight: 300;
			@include breakpoint(sm) {
				font-size: $fs-sm;
			}
		}
	}
	transition: 1.1s ease;
	&[data-in-view='true'] {
		opacity: 1;
		transform: translateY(0);
	}
	&[data-in-view='false'] {
		opacity: 0;
		transform: translateY(-3rem);
	}
	// DIVIDER //
	position: relative;
	&::before {
		content: '';
		display: block;
		height: 0.2rem;
		width: 30ch;
		background-color: var(--main-color);
		position: relative;
		top: -2rem;
		opacity: 0.75;
		@include breakpoint(lg) {
			background-color: transparent;
			height: 2rem;
			width: 2rem;
			border-top: 0.3rem solid var(--main-color);
			border-left: 0.3rem solid var(--main-color);
			position: absolute;
			top: -1.5rem;
			left: -1.5rem;
		}
	}
	&:first-of-type::before {
		visibility: hidden;
		@include breakpoint(lg) {
			visibility: visible;
		}
	}
	// ------- //
}
