@import '../../../assets/sass';

#resume {
	section {
		.header {
			margin-bottom: 5vh;
			@include breakpoint(md) {
				margin-bottom: 7.5vh;
			}
			.sectionLabel {
				font-size: $fs-lg;
				font-family: $serif;
				text-decoration: underline;
				text-shadow: $text-shadow-sm;
			}
			.copy {
				max-width: 75ch;
				letter-spacing: 0.1rem;
				font-size: $fs-sm;
				font-family: $sans;
				font-weight: 300;
				margin-top: 1rem;
				strong {
					font-weight: 500;
					@include breakpoint(md) {
						font-weight: 700;
					}
				}
			}
		}
		&#education {
			margin-top: 5vh;
			.header {
				margin-bottom: 2rem;
			}
			.itemContainer {
				display: grid;
				row-gap: 1.5rem;
				grid-template-columns: 1fr;
				@include breakpoint(sm) {
					max-width: 100%;
					grid-template-columns: min-content min-content;
				}
				.item {
					width: 50ch;
					h6 {
						font-size: $fs-sm;
						line-height: 1.1;
						opacity: 0.9;
					}
					p {
						font-size: $fs-xs;
						line-height: 1.1;
						margin: 0.5rem 0 0 0;
						+ p {
							margin: 0 0 0.5rem 0;
						}
						@include breakpoint(lg) {
							font-weight: 500;
						}
					}
					em {
						font-size: $fs-xs;
					}
				}
			}
		}
	}
}
