@import '../../../assets/sass';

#resume {
	// padding: 0 5%;
	@include breakpoint(lg) {
		// max-width: 100rem;
		margin: 0 auto;
	}
	@include breakpoint(xl) {
		// padding: 0 10%;
		// max-width: 120rem;
	}
	section {
		h5.sectionLabel {
			font-size: $fs-lg;
			font-family: $serif;
			margin-bottom: 5vh;
			text-decoration: underline;
			@include breakpoint(lg) {
				margin-bottom: 7.5vh;
			}
		}
		&#education {
			margin-top: 5vh;
			h5.sectionLabel {
				margin-bottom: 5vh;
			}
			.itemContainer {
				display: grid;
				row-gap: 1.5rem;
				grid-template-columns: 1fr;
				@include breakpoint(sm) {
					max-width: 100%;
					grid-template-columns: min-content min-content;
				}
				.item {
					width: 50ch;
					h6 {
						font-size: $fs-sm;
						line-height: 1.1;
						opacity: 0.9;
					}
					p {
						font-size: $fs-xs;
						line-height: 1.1;
						margin: 0.5rem 0 0 0;
						+ p {
							margin: 0 0 0.5rem 0;
						}
						@include breakpoint(lg) {
							font-weight: 500;
						}
					}
					em {
						font-size: $fs-xs;
					}
				}
			}
		}
	}
}
