@import '../../../assets/sass';

.skillset {
	// padding: 0 5%;
	@include breakpoint(md) {
		// padding: 0 2rem;
	}
	.listLabel {
		font-size: $fs-lg;
		letter-spacing: 0.2rem;
		font-family: $serif;
		font-weight: 500;
		text-decoration: underline;
		margin-bottom: 5vh;
		text-shadow: $text-shadow-sm;
		@include breakpoint(md) {
			margin-bottom: 5vh;
			text-align: center;
		}
	}
	.technologies {
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 1.5rem;
		column-gap: 5rem;
		letter-spacing: 0.1rem;
		@include breakpoint(md) {
			grid-template-columns: 1fr 1fr;
		}
		@include breakpoint(xl) {
			column-gap: 8rem;
			row-gap: 2rem;
		}
		.tech {
			cursor: pointer;
			display: flex;
			align-items: center;
			&:not(:last-of-type) {
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);
				padding-bottom: 1.5rem;
			}
			@include breakpoint(md) {
				&:last-of-type {
					border-bottom: 1px solid rgba(0, 0, 0, 0.2);
					padding-bottom: 1.5rem;
				}
			}
			@include breakpoint(xl) {
				padding-bottom: 2rem !important;
			}
			&:hover {
				img {
					// transform: scale(1.1);
				}
				.info {
					.name::before {
						transition: 350ms ease;
						transform: scaleX(1);
					}
				}
			}
			img {
				min-width: 4rem;
				min-height: 4rem;
				width: 10vw;
				height: 10vw;
				max-width: 5rem;
				max-height: 5rem;
				object-fit: contain;
				transition: 250ms ease;
			}
			.info {
				margin-left: 5vw;
				width: 100%;
				@include breakpoint(md) {
					margin-left: clamp(1rem, 3vw, 5rem);
				}
				@include breakpoint(xl) {
					font-size: $fs-md;
				}
				.name {
					font-family: $sans;
					font-size: $fs-sm;
					letter-spacing: 0.2rem;
					font-weight: 500;
					white-space: nowrap;
					position: relative;
					display: inline-block;
					&::before {
						content: '';
						display: block;
						position: absolute;
						height: 0.2rem;
						background-color: var(--main-color);
						width: 100%;
						top: calc(100% - 0.25ch);
						transition: 150ms ease;
						transform-origin: left;
						transform: scaleX(0);
						@include breakpoint(xl) {
							top: 100%;
						}
					}
					@include breakpoint(xxl) {
						font-weight: 400;
						font-size: $fs-md;
						line-height: 1;
					}
				}
				.proficiency {
					display: block;
					font-size: $fs-xs;
					opacity: 0.75;
					letter-spacing: 0.1rem;
					white-space: nowrap;
					font-weight: 300;
					@include breakpoint(xl) {
						font-size: $fs-sm;
					}
					span {
						text-transform: capitalize;
						font-style: italic;
					}
				}
			}
			.icon {
				cursor: pointer;
				margin-left: clamp(3rem, 7.5vw, 10rem);
				font-size: $fs-xs;
				@include breakpoint(xl) {
					font-size: 150%;
				}
			}
		}
	}
}
