@import '../../../assets/sass';

.Skillset {
	padding: 0 10%;
	@include breakpoint(md) {
		padding: 0 2rem;
	}
	.listLabel {
		font-size: $fs-md;
		letter-spacing: 0.2rem;
		font-family: $serif;
		font-weight: 500;
		text-decoration: underline;
		margin-bottom: 5vh;
		@include breakpoint(md) {
			margin-bottom: 5vh;
			text-align: center;
			font-size: $fs-md;
		}
		@include breakpoint(xl) {
			font-size: $fs-lg;
		}
	}
	.technologies {
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 2rem;
		column-gap: 5rem;
		letter-spacing: 0.1rem;
		@include breakpoint(md) {
			max-width: 80rem;
			grid-template-columns: 1fr 1fr;
		}
		@include breakpoint(xl) {
			max-width: 110rem;
			column-gap: 8rem;
		}
		.tech {
			cursor: pointer;
			display: flex;
			align-items: center;
			&:not(:last-of-type) {
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);
				padding-bottom: 2rem;
			}
			img {
				min-width: 4rem;
				min-height: 4rem;
				width: 10vw;
				height: 10vw;
				max-width: 5rem;
				max-height: 5rem;
				object-fit: contain;
			}
			.info {
				margin-left: 5vw;
				width: 100%;
				@include breakpoint(md) {
					margin-left: clamp(1rem, 3vw, 5rem);
				}
				@include breakpoint(xl) {
					font-size: $fs-md;
				}
				.name {
					font-size: $fs-sm;
					letter-spacing: 0.2rem;
					font-weight: 500;
					white-space: nowrap;
					@include breakpoint(xl) {
						font-weight: 500;
						font-size: $fs-md;
					}
				}
				.proficiency {
					display: inline-block;
					font-size: $fs-xs;
					opacity: 0.75;
					letter-spacing: 0.1rem;
					white-space: nowrap;
					font-weight: 300;
					@include breakpoint(xl) {
						font-size: $fs-sm;
					}
					span {
						text-transform: capitalize;
						font-style: italic;
					}
				}
			}
			.icon {
				margin-left: clamp(3rem, 7.5vw, 10rem);
				font-size: $fs-xs;
				@include breakpoint(xl) {
					font-size: 150%;
				}
			}
		}
	}
}
