@import '../../../assets/sass/';

#Sub {
	padding: 10vh 0;
	div {
		header {
			color: var(--main-color);
			position: relative;
			--line-length: 3rem;
			h3 {
				margin-left: calc(var(--line-length) + 1.5ch);
				text-transform: capitalize;
				font-family: $serif;
				font-size: $fs-lg;
				white-space: nowrap;
				span {
					display: flex;
					align-items: center;
					&::before {
						content: '';
						width: var(--line-length);
						margin-top: 0.5rem;
						height: 0.1rem;
						margin-right: 0.5rem;
						display: inline-block;
						background-color: var(--main-color);
					}
					position: absolute;
					letter-spacing: -$fs-xs;
					color: var(--highlight-color);
					margin: 0 0.5ch 0 0;
					left: 0;
				}
			}
			.subheader {
				padding: 0 2rem;
				margin: 2rem 0 0 0;
				h4 {
					font-size: $fs-sm;
					font-weight: 400;
				}
				p {
					font-size: $fs-xs;

					line-height: 1.75;
					margin: 2rem 0;
					opacity: 0.5;
				}
			}
		}
		img {
			padding: 0 2rem;
			width: 100%;
			object-fit: cover;
		}
	}
}
