@import '../../../assets/sass/';

.Sub {
	padding: 5vh 0 0 0;
	@include breakpoint(md) {
		padding: 10vh 0 0 0;
	}
	&:last-of-type {
		padding: 5vh 0;
		@include breakpoint(md) {
			padding: 10vh 0;
		}
	}
	header {
		padding: 0 0 2.5vh 0;
		color: var(--main-color);
		position: relative;
		text-align: center;
		width: 100%;
		transition: 350ms ease-in;
		@include breakpoint(md) {
			padding: 0 0 5vh 0;
		}
		@include breakpoint(lg) {
			width: 60%;
		}
		.subSectionHeader {
			text-transform: capitalize;
			font-family: $serif;
			font-size: $fs-xl;
			position: relative;
			display: inline-block;
			text-shadow: $text-shadow-sm;
			@include breakpoint(md) {
				font-size: $fs-xxl;
			}
			.numberMarker {
				display: flex;
				align-items: center;
				position: absolute;
				letter-spacing: -0.125ch;
				color: var(--highlight-color);
				margin: 0 0.25ch 0 0;
				right: calc(100% + 0.5ch);
				top: 50%;
				transform: translateY(-50%);
				@include breakpoint(lg) {
					right: 110%;
				}
				&::before {
					content: '';
					width: 50vw;
					margin-top: 0.5rem;
					height: 0.1rem;
					margin-right: 0.5rem;
					display: inline-block;
					background-color: var(--main-color);
				}
			}
			.link {
				@include button;
				position: absolute;
				white-space: nowrap;
				top: calc(50% + 0.5rem);
				left: 100%;
				transform: translateY(-50%);
				font-size: $fs-sm !important;
				&:hover {
					transform: translateY(-50%);
				}
			}
		}
	}
	&#1 .content {
		padding: 0 5% 0;
		margin: 0 auto;
		max-width: 150rem;
		@include breakpoint(lg) {
			padding: 5vh 10%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 4%;
		}
		div {
			@include breakpoint(lg) {
				grid-column: 1/2;
			}
			h4 {
				&::before {
					content: 'My name is:';
					font-size: $fs-sm;
					display: block;
					opacity: 0.5;
					font-weight: 300;
					letter-spacing: 0.2rem;
				}
				font-size: $fs-md;
				font-weight: 400;
				text-shadow: $text-shadow-sm;
			}
			p {
				font-size: $fs-sm;
				margin: 2rem 0;
				font-weight: 300;
				line-height: 1.75;
				& + p {
					margin-bottom: 4rem;
				}
				@include breakpoint(lg) {
					margin: 2rem 0 0 0;
					& + p {
						margin-bottom: 0;
					}
				}
			}
		}
		img {
			width: 100%;
			object-fit: cover;
			box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
			@include breakpoint(lg) {
				grid-column: 2/3;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
