@import '../../../assets/sass/';

#Sub {
	padding: 10vh 0;
	div {
		header {
			color: var(--main-color);
			h3 {
				font-family: $serif;
				font-size: $fs-lg;
				display: flex;
				align-items: center;
				white-space: nowrap;
				&::before {
					content: '';
					width: 3rem;
					height: 0.1rem;
					margin-right: 0.5rem;
					display: inline-block;
					background-color: var(--main-color);
				}
				span {
					letter-spacing: -$fs-xs;
					color: var(--highlight-color);
					margin: 0 0.5ch 0 0;
				}
			}
		}
		img {
			padding: 2rem;
			width: 100%;
			object-fit: cover;
		}
	}
}
