@import '../../../assets/sass/';

.who {
	margin: 0 auto;
	transition: transform 1.25s ease;
	@include breakpoint(lg) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 4%;
	}
	.text {
		transition: 1.25s ease;
		@include breakpoint(lg) {
			grid-column: 1/2;
		}
		h4 {
			&::before {
				content: 'My name is:';
				font-size: $fs-sm;
				display: block;
				opacity: 0.5;
				font-weight: 300;
				letter-spacing: 0.2rem;
			}
			font-size: $fs-md;
			font-weight: 400;
			text-shadow: $text-shadow-sm;
		}
		@for $i from 0 through 10 {
			p:nth-of-type(#{$i}) {
				font-size: $fs-sm;
				margin: 2rem 0;
				font-weight: 300;
				line-height: 1.75;
				transition: 500ms cubic-bezier(0.57, 0.1, 0.34, 0.84);
				@include breakpoint(md) {
					transition-duration: 1.75s;
				}
				& + p {
					margin-bottom: 4rem;
				}
				@include breakpoint(lg) {
					margin: 2rem 0 0 0;
					& + p {
						margin-bottom: 0;
					}
				}
				&[data-in-view='false'] {
					opacity: 0;
					transform: translateY(clamp(-2.5rem, -2vw, -4rem));
				}
				&[data-in-view='true'] {
					opacity: 1;
					transform: translateY(0%);
					transition-delay: $i * 75ms;
				}
			}
		}
	}
	.imgContainer {
		overflow: hidden;
		img {
			width: 100%;
			object-fit: cover;
			box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
			transition: 4s ease;
			@include breakpoint(lg) {
				grid-column: 2/3;
				height: 100%;
				object-fit: cover;
			}
			&[data-in-view='false'] {
				transform: scale(1.2);
			}
			&[data-in-view='true'] {
				transform: scale(1);
			}
		}
	}
}
