@import "../../assets/sass/";

.Nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: fixed;
	z-index: 10;
	--padding: 1rem;
	left: var(--padding);
	right: var(--padding);
	top: var(--padding);
	transition: 350ms ease;
	@include breakpoint(md) {
		--padding: 2rem;
	}
	@include breakpoint(lg) {
		--padding: 3rem;
	}
	.brand {
		span {
			cursor: pointer;
			font-family: $serif;
			.firstLetter {
				font-size: 3rem;
				@include breakpoint(lg) {
					font-size: 3.5rem;
				}
			}
			.rest {
				display: inline-block;
				width: 0;
				// opacity: 0;
				letter-spacing: 0.25rem;
				font-size: 1.25rem;
				transition: 350ms ease;
			}
		}
		&:hover {
			span {
				.rest {
					width: 10px;
				}
			}
		}
	}
	.hbm {
		justify-self: right;
		display: flex;
		align-items: center;
		p {
			font-size: 1.75rem;
			width: 5rem;
			margin-right: 1rem;
			@include breakpoint(lg) {
				font-size: 2rem;
				margin-right: 1.5rem;
			}
		}
		.hbmButton {
			cursor: pointer;
			display: flex;
			flex-direction: column;
			width: 5rem;
			margin-top: 0.5rem;
			@include breakpoint(lg) {
				width: 6rem;
			}
			div {
				background-color: black;
				width: 100%;
			}
			div#top {
				height: 0.7rem;
			}
			div#bottom {
				margin-top: 0.5rem;
				height: 0.3rem;
				@include breakpoint(lg) {
					margin-top: 0.75rem;
				}
			}
		}
	}
}
