@import '../../assets/sass/';

.Nav {
	padding: 0 2rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto 1fr;
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 1rem;
	transition: 350ms ease;
	@include breakpoint(lg) {
		padding: 0 3rem;
	}
	.hbm {
		cursor: pointer;
		justify-self: right;
		display: flex;
		align-items: center;
		color: var(--main-color);
		transition: 350ms ease;
		p {
			transition: 250ms ease;
			cursor: default;
			font-size: $fs-sm;
			width: 5rem;
			margin-right: 1rem;
		}
		.hbmButton {
			display: flex;
			flex-direction: column;
			width: 5rem;
			position: relative;
			transition: 350ms ease 250ms;
			@include breakpoint(lg) {
				width: 6rem;
			}
			div {
				position: absolute;
				top: 50%;
				transform: translateY(-100%);
				width: 100%;
				&#top {
					background-color: var(--main-color);
					height: 0.7rem;
					transition: 350ms ease;
				}
				&#bottom {
					display: flex;
					top: calc(50% + 1rem);
					height: 0.3rem;
					transition: 250ms ease;
					.half {
						background-color: var(--main-color);
						display: inline-block;
						width: 50%;
						height: inherit;
						&#left {
							left: 0;
						}
						&#right {
							right: 0;
						}
					}
				}
			}
		}
		&#open {
			p {
				opacity: 0;
			}
			.hbmButton {
				transform: rotate(45deg);
				div {
					&#top {
						transform: scaleX(0.5);
						top: 0;
						height: 0.3rem;
					}
					&#bottom {
						transform: translate(-0.075rem, -350%) scaleY(0.5) rotate(90deg);
					}
				}
			}
		}
		@include onHoverFine() {
			p {
				transform: translateX(1rem);
			}
			.hbmButton {
				div {
					&#top {
						transform: scaleX(0.5);
						top: 0;
						height: 0.3rem;
					}
					&#bottom {
						transform: translate(-0.075rem, -350%) scaleY(calc(0.5)) rotate(90deg);
					}
				}
			}
		}
	}
}
